
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: none;
  background-color: rgb(255, 255, 255);
  font-family: "Roboto", serif;
}

/* Change the scrollbar width */
::-webkit-scrollbar {
  width: 6px; /* For vertical scrollbars */
  height: 6px; /* For horizontal scrollbars */
}

/* Change the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: rgba(165 180 252, 50); /* Thumb color */
  border-radius: 6px; /* Rounded corners for thumb */
}

/* Change the scrollbar track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}


@layer components{
    .btn-primary{
        @apply bg-indigo-500 px-4 py-2 text-white font-semibold rounded-md
    }
    .btn-secondary{
        @apply hover:bg-indigo-500 border-2 border-indigo-500 text-indigo-500 hover:text-white font-semibold rounded-md
    }
}